<section class="row">
        <div class="col-xs-12  col-md-12 text-center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <img class="first-slide" src="assets/banner2.jpg" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>最新補充包，睡眠狗狗</h1>
                                <p>
                                    二十三小時的睡眠與一小時的吃飯時間．
                                </p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="second-slide" src="assets/banner3.jpg" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>最新補充包，倒底為什麼？</h1>
                                <p>
                                    ？？？？？？？？？？？？？？？？？
                                </p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <img class="third-slide" src="assets/banner4.jpg" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>自由伸縮寵物牽繩</h1>
                                <p>還在使用用力一拉就故障的廉價伸縮牽引繩嗎?
                                    我們不是最便宜的,卻是CP值最高的伸縮牽引繩~
                                    只要Flexi 的半價,就可享有幾乎一樣的高品質體驗~
                                    此高CP值自動伸縮寵狗牽引繩,長期出口歐洲質量保證!
                                    公司擁有15項國家專利技術~</p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="http://localhost:3000/products/9" role="button">前往產品</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-xs-12  col-md-8">
            <div class="">
                <h1>Hello, world!</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
                    content or information.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
        <div class="col-xs-12  col-md-4 text-center">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-xs-12  col-md-4 text-center">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-xs-12  col-md-8">
            <div class="">
                <h1>Hello, world!</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
                    content or information.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </section>